@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #282938;
}
.section1{
    padding: 30px;
    display: flex;
    margin-bottom: 60px;
    >.container1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        >.h4{
            font-family:Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;  
        }
        >h2{
            font-family: Poppins;
            font-size: 54px;
            font-weight: 600;
            line-height: 60px;
            text-align: left;
        }
        >p{
            font-family: Poppins;
            width: 80%;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: justified;    
        }
    }
}

/* section2 start */
.section2{
    background-color: #F4F5F5;
    padding: 30px;
    margin-bottom: 60px;
    >.containers{
        display: flex;
        padding: 15px;
        margin-bottom: 50px;
    >.container5 , .container2{
        >h3{    
            /* width: 100%; */
            font-family: Poppins;
            font-size: 35px;
            font-weight: 600;
            line-height: 55px;
            text-align: left;
        }
        >p{
            font-family: Poppins;
            width: 85%;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
        }
    }
   
    }
    >h4{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
    }
    >.sec2-img{
        width: 100%;
    }
}
/* end */

/* section 3 start */

.section3{
    padding: 30px;
    margin-bottom: 70px;
    >h2{
        text-align: center;
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600; 
        margin-bottom: 35px;
    }
    >.cards{
        display: flex;
        >.card{
            >h6{
                font-family: Poppins;
                font-size: 24px;
                font-weight: 500;
                line-height: 50px;
                text-align: left;
            }
            >p{
                font-family: Poppins;

                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
            }
            >.images{
              display: flex;
              gap: 10px;
              margin-bottom: 20px;
    
              >.circle{
                width: 15px;
              }
              >.line{
                object-fit: contain;
              }
            }  
        }
    }
}

/* section 4 start */
.section4{
    padding: 80px;
    background-color: #EEF4FA;
    margin-bottom: 60px;
    >.container1 {
        display: flex;
        gap: 30px;
        margin-bottom: 100px;
        >.about{
            >h4{
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 25px;
                text-align: left;            
            }
            >h3{
                font-family: Poppins;
                font-size: 35px;
                font-weight: 600;
                line-height: 50px;
                text-align: left;   
                margin-bottom: 10px;         
            }
            >p{
                font-family: Poppins;
                /* width: 80%; */
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;            
            }
        }
        >img:hover{
            transition: all 0.4s;
            scale: 0.9;
            cursor: pointer;            
        }
    }
    >.container2{
        display: flex;
        gap: 70px;
        >.about{
            >h4{
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                text-align: left;            
            }
            >h3{
                font-family: Poppins;
                font-size: 38px;
                font-weight: 600;
                line-height: 70px;
                text-align: left;            
            }
            >p{
                font-family: Poppins;
                width: 100%;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;            
            }
        }
        >img:hover{
            transition: all 0.4s;
            scale: 0.9;
            cursor: pointer;            
        }
    }
}
/* section5  */
.section5{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    >h2{
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 70px;
        text-align: center;
        margin-bottom: 30px;
    }
    >.cards{
        display: flex;
        justify-content: center ;
        gap: 20px;
        >.card{
            width: 100%;
            padding: 35px;
            background-color: #F4F6FC;
            border: 1px solid #F4F6FC;
            border-radius: 5px;
            >h6{
                font-family: Poppins;
                font-size: 24px;
                font-weight: 400;
                line-height: 50px;
                text-align: left;                
            }
            >img{
                background-color: #F4F6FC;
            }
            >p{
                font-family: Poppins;
                width: 90%;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
            }
        }
        .card:hover{
            cursor: pointer;
            background-color: rgb(89, 89, 248);
            color: #F4F6FC;
            transition: all 0.3s;
            transform: translateX(-20px);
            
        }
    }
    /* >.icons{
        display: flex;
        justify-content: space-around;
        >img{
            object-fit: contain;
        }
    } */
}
/* section6 */
.section6{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #F4F6FC;
    padding: 100px;
    >h2{
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 80px;
        text-align: center;
        margin-bottom: 30px;        
    }
    >.cards{
        display: flex;
        gap: 35px;
        justify-content: center;
        >.card{
            background-color: #fff;
            border: 1px solid rgb(249, 246, 246);
            border-radius: 5px;
            padding: 25px;
            >img{
                margin-bottom: 15px;
            }
            >h6{
                font-family: Poppins;
                text-align: center;
                font-size: 24px;
                font-weight: 400;
                line-height: 36px;
            }
            >p{
                font-family: Poppins;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }
        }
        >.card:hover{
            cursor: pointer;
            transform: translateY(-10px);
            scale: 0.9;
            transition: all 0.2s;
        }
    }
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-pagination{
display: none;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fcfcfc;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
  .swiper-slide img {
    display: block;
    width: 50%;
    height: 10vh;
    object-fit: contain;
  }
  