@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#footer_btm {
    padding: 32px 0px;
    background: #fff;
}

.footer-btm {
    margin: auto;
    width: 1280px;
}

.footer_btm_items {
    display: flex;
    justify-content: space-between;
}

.copyright p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

.footer_menu ul {
    list-style: none;
    display: flex;
    column-gap: 32px;
}

.footer-links a {
    color: #282938;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;

    &:hover {
        color: gray;
        transition: .5s;
    }
}


/* .footer_menu ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 28px;
    color: #282938;

    &:hover {
        color: #FCD980;
    }
} */